services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: apod_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 10s
      timeout: 5s
      retries: 5

  airflow-webserver:
    build: .
    command: webserver
    ports:
      - "8080:8080"
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      - AIRFLOW__CORE__FERNET_KEY=l/29vGMftxuhuR3ugGTKbeJwLryzYm1inTSjv3KSXEM=
      - AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true
      - AIRFLOW__CORE__LOAD_EXAMPLES=false
      - AIRFLOW__API__AUTH_BACKENDS=airflow.api.auth.backend.basic_auth
    volumes:
      - ./dags:/opt/airflow/dags
      - ./scripts:/opt/airflow/scripts
      - ./data:/opt/airflow/data
      - ./api_key.txt:/opt/airflow/api_key.txt
      - airflow-logs:/opt/airflow/logs
    depends_on:
      postgres:
        condition: service_healthy
      db-init:
        condition: service_completed_successfully
      airflow-init:
        condition: service_completed_successfully

  airflow-scheduler:
    build: .
    command: scheduler
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      - AIRFLOW__CORE__FERNET_KEY=l/29vGMftxuhuR3ugGTKbeJwLryzYm1inTSjv3KSXEM=
      - AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true
      - AIRFLOW__CORE__LOAD_EXAMPLES=false
    volumes:
      - ./dags:/opt/airflow/dags
      - ./scripts:/opt/airflow/scripts
      - ./data:/opt/airflow/data
      - ./api_key.txt:/opt/airflow/api_key.txt
      - airflow-logs:/opt/airflow/logs
    depends_on:
      postgres:
        condition: service_healthy
      db-init:
        condition: service_completed_successfully
      airflow-init:
        condition: service_completed_successfully

  db-init:
    image: postgres:15
    command: sh /init-airflow-db.sh
    environment:
      - PGPASSWORD=airflow
    volumes:
      - ./init-airflow-db.sh:/init-airflow-db.sh
    depends_on:
      postgres:
        condition: service_healthy

  airflow-init:
    build: .
    command: >
      bash -c "
      airflow version &&
      airflow db init &&
      airflow users create --username airflow --firstname Airflow --lastname Admin --role Admin --email airflow@example.com --password airflow || true
      "
    environment:
      - AIRFLOW_UID=50000
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      - AIRFLOW__CORE__FERNET_KEY=l/29vGMftxuhuR3ugGTKbeJwLryzYm1inTSjv3KSXEM=
    volumes:
      - airflow-logs:/opt/airflow/logs
      - ./dags:/opt/airflow/dags
      - ./plugins:/opt/airflow/plugins
    user: "airflow"
    depends_on:
      postgres:
        condition: service_healthy
      db-init:
        condition: service_completed_successfully

volumes:
  postgres_data:
  airflow-logs:

